image: mogtofu33/drupal8ci:3.x-dev-8.9

stages:
  - build
  - lint
  - test
  - check

.cache_strategy_push:
  cache:
    key: ${CI_COMMIT_SHA}
    paths:
      - vendor
      - web/core
      - web/libraries
      - web/modules/contrib
      - web/profiles/contrib
      - web/themes/contrib

.cache_strategy_pull:
  extends: .cache_strategy_push
  cache:
    policy: pull

build drupal:
  extends: .cache_strategy_push
  stage: build
  tags:
    - docker
  before_script:
    - export PATH=$PATH:$( pwd )/vendor/bin
  script:
    - composer install --quiet
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - vendor
      - web

lint drupal:
  extends: .cache_strategy_push
  stage: lint
  needs:
    - build drupal
  tags:
    - docker
  before_script:
    - export PATH=$PATH:$( pwd )/vendor/bin
  script:
    - php vendor/bin/grumphp run --testsuite=ci
  # when: manual

# Behat test run.
test behat:
  extends: .cache_strategy_pull
  stage: test
  needs:
    - build drupal
  tags:
    - docker
  variables:
    HOST_PORT: "0.0.0.0:80"
    DRUPAL_ENVIRONMENT: ci
  before_script:
    - mkdir tmp
    - php -i > tmp/php-info.txt
    - export PATH=$PATH:$( pwd )/vendor/bin
    - google-chrome --disable-gpu --headless --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --window-size=1280,1080 --no-sandbox --disable-web-security --disable-site-isolation-trials --user-data-dir=/tmp &> tmp/chromedriver-log.txt &
    - curl -s http://127.0.0.1:9222/json/version -o tmp/chrome-version.txt || true
    - drush site-install commerce_kickstart --site-name='Commerce Demo' --no-interaction --db-url=sqlite://sites/default/files/db.sqlite
    - perl -pi -e "s#COMMERCE_DPS_PX_KEY#${COMMERCE_DPS_PX_KEY}#" config/ci/*yml
    - perl -pi -e "s#COMMERCE_DPS_PX_USERID#${COMMERCE_DPS_PX_USERID}#" config/ci/*yml
    - drush -y pm:enable commerce_dps
    - drush -y config:import --partial --source=../config/ci
    - php -S $HOST_PORT -t ./web &> tmp/php-log.txt &
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -o tmp/index.html -s http://$HOST_PORT
    - cd tests/behat
  script:
    - behat --colors -p ci
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - tmp
      - web/sites/default
      - reports
    reports:
      junit: reports/junit/*.xml


# Symfony security-checker report.
security-checker:
  extends: .cache_strategy_pull
  stage: check
  tags:
    - docker
  needs:
    - build drupal
  before_script:
    - PHP_SC_VERSION=$(curl -s "https://api.github.com/repos/fabpot/local-php-security-checker/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/;s/^v//')
    - curl -LSs https://github.com/fabpot/local-php-security-checker/releases/download/v${PHP_SC_VERSION}/local-php-security-checker_${PHP_SC_VERSION}_linux_amd64 > ./php-security-checker
    - chmod +x ./php-security-checker
  script:
    - mkdir -p report-${CI_JOB_NAME}
    - ./php-security-checker security:check composer.lock --no-ansi | tee report-${CI_JOB_NAME}/report.txt
  # Allow failure to produce report and warning when we have an error.
  allow_failure: true
  # when: manual

# Composer outdated package check.
composer-outdated:
  extends: .cache_strategy_pull
  stage: check
  tags:
    - docker
  before_script:
    - export PATH=$PATH:$( pwd )/vendor/bin
  needs:
    - build drupal
  script:
    - mkdir -p report-${CI_JOB_NAME}
    - composer outdated --no-ansi | tee report-${CI_JOB_NAME}/report.txt
  # Allow failure to produce report and warning when we have an error.
  allow_failure: true
  # when: manual
