image: devwithlando/php:8.1-apache-4

stages:
  - build
  - lint
  - test
  - check

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'

.cache_strategy_push:
  cache:
    key: ${CI_COMMIT_SHA}
    paths:
      - vendor
      - web/core
      - web/libraries
      - web/modules/contrib
      - web/profiles/contrib
      - web/themes/contrib

.cache_strategy_pull:
  extends: .cache_strategy_push
  cache:
    policy: pull

.drupal_in_ci:
  extends: .cache_strategy_pull
  services:
     - name: mailhog/mailhog
       alias: mailhog
     - name: zenika/alpine-chrome:latest
       alias: chrome
       command: [
          "--disable-dev-shm-usage",
          "--disable-gpu",
          "--disable-software-rasterizer",
          "--headless",
          "--no-sandbox",
          "--no-sandbox",
          "--no-web-security",
          "--remote-debugging-address=0.0.0.0",
          "--remote-debugging-port=9222",
          "--use-gl=swiftshader",
          "--window-size=1080,1920"
       ]

composer install:
  extends: .cache_strategy_push
  stage: build
  before_script:
    - export PATH=$PATH:${CI_PROJECT_DIR}/vendor/bin
  script:
    - composer install
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - vendor
      - web

lint drupal:
  extends: .cache_strategy_push
  stage: lint
  needs:
    - composer install
  before_script:
    - export PATH=$PATH:${CI_PROJECT_DIR}/vendor/bin
  script:
    - php vendor/bin/grumphp run --testsuite=ci

behat:
  extends: .drupal_in_ci
  stage: test
  needs:
    - composer install
  variables:
    BEHAT_TAGS: "~@skipped"
    DRUPAL_ENVIRONMENT: ci
    FF_NETWORK_PER_BUILD: 1
    HOST_PORT: "build:80"
  before_script:
    - mkdir tmp
    - php -i > tmp/php-info.txt
    - export PATH=$PATH:${CI_PROJECT_DIR}/vendor/bin
    - >
      curl --silent --show-error --header "Host: localhost" http://chrome:9222/json/version | tee tmp/chromium-version.json
    - cp config/gitlab-ci/apache-vhost.conf /etc/apache2/sites-available/000-default.conf
    - apache2ctl restart
    - cp config/settings.local.php web/sites/default/
    - drush site-install commerce_kickstart --site-name='Commerce Demo' --no-interaction --db-url=sqlite://sites/default/files/db.sqlite
    - chmod -R ugo+rw web/sites/default/files
    - drush -y pm:enable commerce_dps commerce_demo
    - drush -y config:import --partial --source=../config/splits/ci
    - drush -y config:import --partial --source=../config/splits/commerce_dps
    - drush -y cron
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -o tmp/index.html -s http://$HOST_PORT
    - cd tests/behat
  script:
    - behat --colors --profile ci
  after_script:
    - COLUMNS=240 ./vendor/bin/drush watchdog:show --count=50000 > ${CI_PROJECT_DIR}/tmp/drupal-log-messages.txt
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - reports
      - screenshots
      - tmp
      - web/sites/default
    reports:
      junit: reports/junit/*.xml

.behat (latest drupal/commerce_dps):
  extends: behat
  before_script:
    - mkdir tmp
    - php -i > tmp/php-info.txt
    - export PATH=$PATH:$( pwd )/vendor/bin
    - composer require drupal/commerce_dps:2.0.x-dev
    - google-chrome --disable-gpu --headless --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --window-size=1280,1080 --no-sandbox --disable-web-security --disable-site-isolation-trials --user-data-dir=/tmp &> tmp/chromedriver-log.txt &
    - curl -s http://127.0.0.1:9222/json/version -o tmp/chrome-version.txt || true
    - cp config/settings.local.php web/sites/default/
    - drush site-install commerce_kickstart --site-name='Commerce Demo' --no-interaction --db-url=sqlite://sites/default/files/db.sqlite
    - drush -y pm:enable commerce_dps commerce_demo
    - drush -y config:import --partial --source=../config/drupal/ci
    - php -S $HOST_PORT -t ./web &> tmp/php-log.txt &
    - drush -y cron
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -o tmp/index.html -s http://$HOST_PORT
    - cd tests/behat

.behat (latest dmore/behat-chrome-extension):
  extends: behat
  before_script:
    - mkdir tmp
    - php -i > tmp/php-info.txt
    - export PATH=$PATH:$( pwd )/vendor/bin
    - composer require dmore/chrome-mink-driver:"dev-main as 2.9.0" dmore/behat-chrome-extension:"dev-main as 1.5.0"
    - google-chrome --disable-gpu --headless --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --window-size=1280,1080 --no-sandbox --disable-web-security --disable-site-isolation-trials --user-data-dir=/tmp &> tmp/chromedriver-log.txt &
    - curl -s http://127.0.0.1:9222/json/version -o tmp/chrome-version.txt || true
    - cp config/settings.local.php web/sites/default/
    - drush site-install commerce_kickstart --site-name='Commerce Demo' --no-interaction --db-url=sqlite://sites/default/files/db.sqlite
    - drush -y pm:enable commerce_dps commerce_demo
    - drush -y config:import --partial --source=../config/drupal/ci
    - php -S $HOST_PORT -t ./web &> tmp/php-log.txt &
    - drush -y cron
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -o tmp/index.html -s http://$HOST_PORT
    - cd tests/behat

.behat alt:
  extends: behat
  variables:
    DRUPAL_URL: 0.0.0.0:80
  services:
    - name: mailhog/mailhog
      alias: mailhog
    - name: mysql:8
      alias: db
  before_script:
    - export PATH="${CI_PROJECT_DIR}/vendor/bin:$PATH"
    - cp config/gitlab-ci/resources/apache-vhost.conf /etc/apache2/sites-available/00-default.conf
    - cp config/gitlab-ci/resources/php-config.ini /usr/local/etc/php/conf.d/00-local.ini
    - php -i > tmp/php-info.txt
    - apache2ctl start
    - google-chrome --disable-gpu --headless --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --window-size=1280,1080 --no-sandbox --disable-web-security --disable-site-isolation-trials --disable-dev-shm-usage --user-data-dir=/tmp &> tmp/chromedriver-log.txt &
    - curl -s http://0.0.0.0:9222/json/version | tee tmp/chromium-version.json
    - chmod -R ugo+rw web/sites/default/files
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -s http://127.0.0.1:9222/json/version -o tmp/chrome-version.txt || true
    - drush site-install commerce_kickstart --site-name='Commerce Demo' --no-interaction --db-url=sqlite://sites/default/files/db.sqlite
    - drush -y pm:enable commerce_dps commerce_demo
    - drush -y config:import --partial --source=../config/drupal/ci
    - php -S $HOST_PORT -t ./web &> tmp/php-log.txt &
    - drush -y cron
    - until curl -s http://$HOST_PORT; do true; done > /dev/null
    - curl -o tmp/index.html -s http://$HOST_PORT
    - cd tests/behat
  script:
    - behat --colors --profile=ci --tags="${BEHAT_TAGS}"

.composer audit:
  extends: .cache_strategy_pull
  stage: check
  needs:
    - composer install
  script:
    - composer audit -v --no-ansi | tee composer-audit.txt
  allow_failure: true
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - composer-audit.txt

composer outdated:
  extends: .cache_strategy_pull
  stage: check
  needs:
    - composer install
  script:
    - composer outdated -v --no-ansi | tee composer-outdated.txt
  allow_failure: true
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - composer-outdated.txt

drush pm-security:
  extends: .cache_strategy_pull
  stage: check
  needs:
    - composer install
  script:
    - ./vendor/bin/drush pm:security | tee drush-security.txt
  allow_failure: true
  artifacts:
    when: always
    name: "artifacts-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - drush-security.txt
